<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.savor.savorphone">

    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- 普通 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 友盟分享 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- 联系人 -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 百度定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 百度定位权限 -->
    <application
        android:name=".SavorApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <meta-data
            android:name="com.savor.savorphone.utils.CustomCachingGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.openinstall.APP_KEY"
            android:value="w7gvub" />
        <!-- 在这里定义共享信息 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.savor.savorphone.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="app_debug"
            android:value="1" />
        <!-- 百度定位开始 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="PEr5mH8rh6d18K97upqbPDSF" /> <!-- http://lbsyun.baidu.com/apiconsole/key -->


        <!-- 百度定位结束 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5668f09de0f55a4c82001473" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3c7df71a0b6ea4ed2a615903dab9dd9b" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="oppd0opu" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.HotspotMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SlidesActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SlidePreviewActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImageTextActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SubjectActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PictureSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Dialog_Fullscreen"
            android:screenOrientation="sensor" />
        <activity
            android:name=".activity.ImageShowActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Dialog_Fullscreen"
            android:screenOrientation="sensor" />

        <activity
            android:name=".activity.ImageCollectionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppPicTheme"
            android:screenOrientation="sensor" />



        <activity
            android:name=".activity.FeedbackActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedbackMainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyCollectActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecommendActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PicRecommendActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.GameActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HotelMapListActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GameResultActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoPlayVODNotHotelActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LocalVideoProAcitvity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoPlayVODInHotelActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SingleImageProActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ImageEditActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.FileProHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".activity.HotspotMainActivity" -->
        <!-- android:label="@string/title_activity_hotspot_main" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"/> -->
        <!-- 友盟分享开始 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- <activity -->
        <!-- android:name="com.umeng.socialize.editorpage.ShareActivity" -->
        <!-- android:excludeFromRecents="true" -->
        <!-- android:theme="@style/Theme.UMDefault" /> -->
        <!-- <activity -->
        <!-- android:name="com.umeng.qq.tencent.AuthActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:noHistory="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


        <!-- <data android:scheme="tencent1105235421" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name="com.umeng.qq.tencent.AssistActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar"/> -->
        <!-- &lt;!&ndash;<activity&ndash;&gt; -->
        <!-- &lt;!&ndash;android:name="com.umeng.socialize.media.WBShareCallBackActivity"&ndash;&gt; -->
        <!-- &lt;!&ndash;android:configChanges="keyboardHidden|orientation"&ndash;&gt; -->
        <!-- &lt;!&ndash;android:screenOrientation="portrait">&ndash;&gt; -->
        <!-- &lt;!&ndash;<intent-filter>&ndash;&gt; -->
        <!-- &lt;!&ndash;<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />&ndash;&gt; -->


        <!-- &lt;!&ndash;<category android:name="android.intent.category.DEFAULT" />&ndash;&gt; -->
        <!-- &lt;!&ndash;</intent-filter>&ndash;&gt; -->
        <!-- &lt;!&ndash;</activity>&ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser" -->
        <!-- android:configChanges="keyboardHidden|orientation" -->
        <!-- android:exported="false" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <!-- 友盟分享结束 -->
        <!-- service start -->
        <service
            android:name=".service.SSDPService"
            android:label="SearchSPService" />
        <service
            android:name=".service.LocalJettyService"
            android:label="CoreService" />
        <service
            android:name=".service.ClearImageCacheService"
            android:label="ClearCacheService"
            android:process=":recycle" />
        <service
            android:name=".service.StopProjectionService"
            android:label="StopProjection" />
        <!-- service end -->

        <service
            android:name=".service.ProjectionService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.UpLoadLogService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.UploadFirstUseService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.LinkTvActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PdfListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PdfPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MediaGalleryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BaseProActivity" />
        <activity android:name=".activity.VodListActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>